/* Adding local fonts since Firefox and Chrome/Android likes to break a lot when I'm importing them from google servers. */

@font-face {
  font-family: 'Roboto';
  src: url('fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/RobotoMono-Italic-VariableFont_wght.ttf') format('truetype');
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: 'Bungee';
  src: url('fonts/Bungee-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Bungee Shade';
  src: url('fonts/BungeeShade-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Staatliches';
  src: url('fonts/Staatliches-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/SourceSansPro-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
} 

@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/SourceSansPro-Bold.ttf') format('truetype');
  font-style: bold;
  font-weight: 300;
} 

@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/SourceSansPro-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 300;
} 

@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/SourceSansPro-Light.ttf') format('truetype');
  font-style: lighter;
  font-weight: 300;
} 

@font-face {
  font-family: 'Permanent Marker';
  src: url('fonts/PermanentMarker-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}

.staatliches {
    font-family: 'Staatliches', serif;
    color: black;
    font-size: 30px;
    font-display: center;
  }

  .Bungee {
    font-family: 'Bungee', serif;
    color: black;
    font-size: 30px;
    font-display: center;
  }

  .Bungeesmall {
    font-family: 'Bungee', serif;
    color: whitesmoke;
    font-size: 20px;
    font-display: center;
  }

  .BungeeWhite {
    font-family: 'Bungee', serif;
    font-size: 45px;
    font-display: justify;
    color:white;
  }

  .BungeeShade {
    font-family: 'Bungee Shade', serif;
    color: white;
    font-size: 60px;
    font-display: center;
  }

  .permanentmarker {
    font-family: 'Permanent Marker', serif;
    color: white;
    font-size: 70px;
    font-display: center;
  }

/* HTML description in Index Page. */

  .robotomono {
    font-family: 'Roboto Mono', serif;
    color: black;
    font-size: 25px;
    font-display: justify;
  }

  /* Greetings in Index Page. */

  .sourcesanspro {
    font-family: 'Source Sans Pro', serif;
    color: black;
    font-size: 25px;
    font-display: justify;
  }


/* Gradient Title - Main - Index */

  .permanentmarkergrd1 {
    font-size: 72px;
    background-image: linear-gradient(#7f10ad, #f75a08); /*#7f10ad - #bf3ef4 */
    background-size: 100%;
    background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-family: 'Permanent Marker';
  }

/* Gradient Title - Review - Index */

  .permanentmarkergrd2 {
    font-size: 60px;
    background-image: linear-gradient(#7f10ad, #1a99f2); /*#7f10ad - #bf3ef4 */
    background-size: 100%;
    background-repeat: repeat;
    display: block;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-family: 'Permanent Marker';
  }

  .permanentmarkergrd3 {
    font-size: 72px;
    background-image: linear-gradient(#209b68, #1d94d8); /*#7f10ad - #bf3ef4 */
    background-size: 100%;
    background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-family: 'Permanent Marker';
  }