body {
  background-color:#5a32a8; /**Teal:#194a50 /  Viola: #5a32a8 / Lilla: #9966ff **/
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%232dddbe' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  padding: 75px
}

h1 {
  color:black;
  font-family: arial;
  font-size: 45px;
  text-align: center;
}

h2 {
  color:black;
  font-family: arial;
  font-size: 25px;
  text-align: center;
}

p {
  color:black;
  font-family: verdana;
  font-size: 20px;
  text-align: justify;
}

.p2 {
  color:black;
  font-family: verdana;
  font-size: 20px;
  text-align: center;
}

.justified {
  color:black;
  font-family: verdana;
  font-size: 25px;
  text-align: justify;
}


.blankspace {
  background-color: white;
  background-position: center;
  background-repeat: repeat;
  padding: 50px;
  background-size: 100%; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.textleft {
text-align: left;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}


div.image {
  width: 80%;
  background-color: #194a50; /**Teal: #194a50 /  LightSky: #66ccff **/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

div.container {
  text-align: center;
  color: white;
  padding: 15px 20px;
}

.wrapper {
  text-align: center;
}

/* List. */

ul.a {
  color:black;
  font-family: verdana;
  font-size: 20px;
  text-align: justify;
  list-style-type: circle;
}

/* Go Back Button + Hover. */

a.button {
  background-color: #3b41e3; /*Testing this color #3b41e3 ex RoyalBlue */
  border: none;
  width: 25%;
  color: whitesmoke;
  padding: 15px 32px;;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
  
}

a.button:hover {
  background-color: #3338c4; /*Ex Color Was  #243DA8 - RoyalBlue */
} 

/* Main Button - Index + Hover style. */

a.button1 {
  background-color: #3b41e3; /*Testing this color #3b41e3 ex RoyalBlue */
  border: none;
  width: 50%;
  color: whitesmoke;
  padding: 15px 32px;;
  text-align: justify;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
  
}

a.button1:hover {
  background-color: #3338c4; /*Ex Color Was  #243DA8 - RoyalBlue */
} 

/* Review Full Star */

.checked {
  color: #f56342;
  position: center; 
}

/* Review HalfStars */

.fa-star-half-alt {
  color: #f56342;
  position: center; 
}

/* Review EmptyStar */

.fa-star {
  color: #f56342;
  position: center; 
}

/* Review Score Text. */

.score {
  font-size: 30px;
  color: black;
}

/* Gradient Title - Main - Index */

.maintitle {
  font-size: 72px;
  background-image: linear-gradient(#7f10ad, #f75a08); /*#7f10ad - #bf3ef4 */
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

/* Gradient Title - Review - Index */

.title2 {
  font-size: 60px;
  background-image: linear-gradient(#7f10ad, #1a99f2); /*#7f10ad - #bf3ef4 */
  background-size: 100%;
  background-repeat: repeat;
  display: block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

/* Line Division */

.linediv {
  height: 10px;
  background-color: #4B7BA3;
  background-size: 100%;
  background-repeat: repeat;
  display: block;
}